<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">title</Data></Cell>
        <Cell><Data ss:Type="String">street</Data></Cell>
        <Cell><Data ss:Type="String">plz</Data></Cell>
        <Cell><Data ss:Type="String">city</Data></Cell>
        <Cell><Data ss:Type="String">phone</Data></Cell>
        <Cell><Data ss:Type="String">fax</Data></Cell>
        <Cell><Data ss:Type="String">email</Data></Cell>
        <Cell><Data ss:Type="String">department_id</Data></Cell>
        <Cell><Data ss:Type="String">appellation</Data></Cell>
        <Cell><Data ss:Type="String">firstname</Data></Cell>
        <Cell><Data ss:Type="String">lastname</Data></Cell>
        <Cell><Data ss:Type="String">personal_phone</Data></Cell>
        <Cell><Data ss:Type="String">personal_fax</Data></Cell>
        <Cell><Data ss:Type="String">personal_email</Data></Cell>
        <Cell><Data ss:Type="String">comment</Data></Cell>
        <Cell><Data ss:Type="String">interested</Data></Cell>
        <Cell><Data ss:Type="String">not_interested</Data></Cell>
        <Cell><Data ss:Type="String">informed</Data></Cell>
        <Cell><Data ss:Type="String">cooperating</Data></Cell>
        <Cell><Data ss:Type="String">educates</Data></Cell>
        <Cell><Data ss:Type="String">places</Data></Cell>
        <Cell><Data ss:Type="String">azubis</Data></Cell>
      </Row>
    <% @companies.each do |company| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= company.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.street %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.plz %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.phone %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.fax %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.department_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.appellation %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.firstname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.lastname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.personal_phone %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.personal_fax %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.personal_email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.comment %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.interested %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.not_interested %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.informed %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.cooperating %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.educates %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.places %></Data></Cell>
        <Cell><Data ss:Type="String"><%= company.azubis %></Data></Cell>
        
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
