<%= link_to 'CSV', companies_path(format: "csv") %>
| <%= link_to 'Excel', companies_path(format: "xls") %>
| <%= link_to "Import", '#', onclick: "$('#import_form').toggle();return false;" %>
<div id="import_form">
    <h3>Import Betriebe</h3>
    <%= form_tag import_companies_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
</div>
<h3>Liste der Betriebe</h3>

<table class="datatable">
  <thead>
    <tr>
      <th>Company</th>
      <th>Kategorie</th>
      <th>Ausbilder</th>
      <th>Int.</th>
      <th>Inf.</th>
      <th>Coop.</th>
      <th>Edu.</th>
      <th>Anz.</th>
      <th>Azu.</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.title %></td>
        <td><%= best_in_place company, :department_id,:type => :select, :collection => Department.find(:all).collect{|d| [d.id,d.title]} %></td>
        <td><%= company.firstname %> <%= company.lastname %></td>
        <td><%= company.interested %></td>
        <td><%= company.informed %></td>
        <td><%= company.cooperating %></td>
        <td><%= company.educates %></td>
        <td><%= company.places %></td>
        <td><%= company.azubis %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'clone', new_company_path(:company_id => company.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
