<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @company.title %>
</p>

<p>
  <b>Street:</b>
  <%= @company.street %>
</p>

<p>
  <b>Plz:</b>
  <%= @company.plz %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Department:</b>
  <%= @company.department_id %>
</p>

<p>
  <b>Appellation:</b>
  <%= @company.appellation %>
</p>

<p>
  <b>Firstname:</b>
  <%= @company.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @company.lastname %>
</p>

<p>
  <b>Personal phone:</b>
  <%= @company.personal_phone %>
</p>

<p>
  <b>Personal fax:</b>
  <%= @company.personal_fax %>
</p>

<p>
  <b>Personal email:</b>
  <%= @company.personal_email %>
</p>

<p>
  <b>Interested:</b>
  <%= @company.interested %>
</p>

<p>
  <b>Informed:</b>
  <%= @company.informed %>
</p>

<p>
  <b>Cooperating:</b>
  <%= @company.cooperating %>
</p>

<p>
  <b>Educates:</b>
  <%= @company.educates %>
</p>

<p>
  <b>Places:</b>
  <%= @company.places %>
</p>

<p>
  <b>Azubis:</b>
  <%= @company.azubis %>
</p>

<p>
  <b>Comment:</b>
  <%= @company.comment %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
