<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "G16 - Höhere Technikschule" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
        <!-- Nav Bar -->
 
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
        <% if current_user %>
          Logged in as <%= current_user.lastname %> | <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Log In", login_path %>
        <% end %>
      </div>
      <h1><%= image_tag('g16_logo-green.png', :size => '280x100', title: "Höhere Technikschule - G16 Farmsen") %>
        <small>Höhere Technikschule</small>
      </h1>
      <% unless current_user %>
        <hr />
      <% else %>
        <nav class="top-bar" data-topbar>


          <section class="top-bar-section">

            <!-- Right Nav Section -->
            <% if current_user.edit? %>
              <ul class="right">
                <li><%= link_to 'Benutzerverwaltung', users_path %></li>
                <li class="active"><%= link_to 'Fachbereiche', departments_path %></li>
                <li><%= link_to 'Tabelle leeren', destroy_table_companies_path, data: { confirm: 'Sollen ale Betriebe geloescht werden?' } %><li>
              </ul>
            <% end %>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><%= link_to "Neuen Betrieb", new_company_path %></li>
              <li><%= link_to "Alle Betriebe", companies_path %></li>
              <li class="has-dropdown">
                <a href="#">Filter</a>
                <ul class="dropdown">
                  <li><%= link_to "Informiert", companies_path(:filter => 'informed') %></li>
                  <li><%= link_to "Interessiert", companies_path(:filter => 'interested') %></li>
                  <li><%= link_to "Nicht inter.", companies_path(:filter => 'not_interested') %></li>
                  <li><%= link_to "Kooperiert", companies_path(:filter => 'cooperating') %></li>
                  <li><%= link_to "Bildet aus", companies_path(:filter => 'educates') %></li>
                </ul>
              </li>
            </ul>
          </section>
        </nav>
      <% end %>
    </div>
  </div>
 
  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
      <% if notice %><div class="alert-box success"><%= notice %><a href="#" class="close">&times;</a></div><% end %>
      <% if alert %><div class="alert-box alert"><%= alert %><a href="#" class="close">&times;</a></div><% end %>
      
      <%= yield %>
    
    </div>
 
    <!-- End Main Content -->
 
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Thomas Bogner 2013.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://www.g16hh.de/">G16 Farmsen</a></li>
            <li><a href="http://141.91.210.14/">G16 Moodle</a></li>
            <li><a href="https://www2.wibes.de">Wibes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
     
    
    <%= javascript_include_tag "application" %>
    <script src="https://github.com/chuckcarpenter/REM-unit-polyfill"></script>
    <%#= javascript_link_tag "https://github.com/chuckcarpenter/REM-unit-polyfill" %>
  </body>
</html>
